$colorPrimario : red ;
$letraTitulo: 25px ;
$fuenteh1: 3.0rem;  
$fuenteMenu: 18px;
$colorMenu: #3f3f3f;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);





